#configView {
    position: absolute;
    width: 100%;
}

#configViewEspTableView {
    position: absolute;
    width: 98%;
}

#configViewWifiTableView {
    position: absolute;
    width: 98%;
    margin: 0 1%;
}

#configViewRoomTableView {
    position: absolute;
    width: 98%;
    margin: 0 1%;
}

#configViewDoorTableView {
    position: absolute;
    width: 98%;
    margin: 0 1%;
}

#configViewWindowTableView {
    position: absolute;
    width: 98%;
    margin: 0 1%;
}

#configViewLocationTableView {
    position: absolute;
    width: 98%;
    margin: 0 1%;
}

#configWifiTable {
    width: 100%;
}

#configWifiTable td {
    border-bottom: 1px solid #1693a5;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 40px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    border-bottom: 1px solid #333333;
    font-weight: bold;
}

td {
    background: #FAFAFA;
}

.espRow td {
    border-bottom: 1px solid #1693a5;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

.espRow:hover td { background: #666; color: #FFF; }

.configDetail table tr:hover td { background: #666; color: #FFF; }

.configViewLeft {
    float:left;
    width: calc(99% - 70px);
    margin-left: 1%;
}

.configViewRight {
    float: right;
    display: inline;
    text-align: center;
}

.droppableHover {
    background: #666 !important;
    color: #FFF !important;
}

.draggableComponent {
    width: 50px;
    height: 50px;
    background: #c9c6cd;
    margin: 0px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-overflow: clip;
}

/* This has to be called the same as the type in the database */
.dht {
    background: #c9c6cd url(../img/temperature.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

/* This has to be called the same as the type in the database */
.relay {
    background: #c9c6cd url(../img/switch.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

/* This has to be called the same as the type in the database */
.ledStrip {
    background: #c9c6cd url(../img/ledStrip.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    background: #1693a5 !important;
    color: #FFF !important;
    outline:none;
}

.configEspTableIdColumn {
    cursor: default;
}

.configEspTableHwIdColumn {
    cursor: default;
}

.nameColumn {
    cursor: pointer;
}

.configEspTableLocationColumn {
    cursor: pointer;
}

.inputWrapper {
    width: 100%;
    margin: 1%;
}

#configView button {
    height: 25px;
    margin-left: 5px;
}

#configViewWifiTableView #buttonFooter {
    position:fixed;
    left: 0;
    bottom: 0;
    height: 35px;
    width:100%;
}

#configViewWifiTableView #buttonFooter button {
    display: block;
    margin-right: 10px;
    margin-left: auto;
}
