#dashboardView {
    position: absolute;
    width: 100%;
    margin: 10px 0px;
}

.tileWrapper {
    display: table;
    margin: 0px auto;
}

.tileWrapper h1 {
    margin: 5px 15px;
}

.componentTile {
    color: #000000;
    width: 98%;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #f2f2f2;
    margin: 1%;
}

.componentRow {
    display: flex;
    margin-bottom: 2%;
}

.componentTile button {
    background-color: #FFFFFF;
    border: 2px solid #c9c6cd;
    border-radius: 6px;
    color: #000000;
    display: inline-block;
    font-size: 13pt;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.componentTile p {
    overflow: auto;
    margin: 10px 5px;
}

.relayOff {
    background-color: #c0685b !important;
}

.relayOn {
    background-color: 	#FFFFFF !important;
}

.grid-stack-item-content {
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #1693a5;
    padding: 5px 15px 15px 15px;
    margin: 5px 15px;
    vertical-align: top;
}

.sortIcons {
    position: relative;
    display: none;
}

.componentTile:hover .sortIcons {
    display: block !important;
}


.sortIcons img {
    position: absolute;
    top: 5px;
    right: 0px;
}

.arrowDown {
    right: 35px !important;
}

.halfIcon {
    right: 70px !important;
}

.growIcon {
    right: 105px !important;
}