html {
    font-family: "Open Sans";
    font-size: 13pt;
    background-color: #FFFFFF;
}

body {
    margin: 0;
}

.navigation {
    margin: 0 0 15px 0;
    padding: 0;
}

.navigation ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.tileWrapper {
    display: table;
    margin: 0px auto;
}

.tileWrapper h1 {
    margin: 5px 15px;
}

.componentTile {
    color: #000000;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #f2f2f2;
    padding: 0px 5px;
    margin: 25px auto;
}

.componentTile button {
    background-color: #FFFFFF;
    border: 2px solid #c9c6cd;
    border-radius: 6px;
    color: #000000;
    display: inline-block;
    font-size: 13pt;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.componentTile p {
    overflow: auto;
    margin: 10px 5px;
}

.relayOff {
    background-color: #c0685b !important;
}

.relayOn {
    background-color: 	#FFFFFF !important;
}

.toastMessage {
    width:250px;
    height:auto;
    position:fixed;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.grid-stack-item-content {
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #1693a5;
    padding: 5px 15px 15px 15px;
    margin: 5px 15px;
    vertical-align: top;
}